@media screen and (max-width: 767px){

    .Parametri {
        flex-wrap: wrap !important;
    }
}

body {
    background-image: url("../res/pozadina.svg");
}


.HeaderSlika {
    background-color: #202020;
    height: 200px !important;
    background-image: url("../res/header.png");
    background-repeat: no-repeat;
}

.Parametri {
    flex-wrap: nowrap;
    width: 100%;
}

select {
    min-width: 40px;
    max-height: 37.6px !important;
}

.Parametri span {
    margin-left: 10px;
    margin-right: 10px;
    min-width: fit-content !important;
}

.Parametri select {
    margin-left: 10px;
    margin-right: 10px;
}

.pageButtons {
    display: flex;
    justify-content: center;
}

.DodajPredmetOblast, .DodajRokOblast {
    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0.394);
}

.DesnaKolona {
    flex-wrap: nowrap !important;
}

.FormaZaPrijavljivanje {
    max-width: 100%;
    min-width: 100% !important;
}

.FormaZaPrijavljivanje input{
    min-width: 100% !important;
}
